body {
  background-image: linear-gradient(rgb(5, 7, 27), black);
  width: 100%;
  height: 100%;
}

.card-title {
  text-align: center;
}

.card:hover .servicesIcon,
.card:hover .card-title {
  color: #008000;
}

.card:hover .card-title {
  text-decoration: underline;
}

#siteFooter {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

#gameFooter {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  position: absolute;
  bottom: 0%;
  left: 0;
  margin: auto;
}

#gameTitleScreen,
#showGameOver {
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-color: black;
  color: white;
}

#gameTitleScreen {
  z-index: 2;
}

.form-control:focus {
  border: 2px solid white;
}

#gameCanvas {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(#e4e0bad2, #f7daaab2);
}

#homeTitle {
  font-size: 50px;
  color: white;
}

#homeTitle,
#about,
#projects,
#contact,
#experience,
#services {
  padding-bottom: 100px;
}

h1,
h2,
h3,
h4,
h5,
h6,
footer,
label,
p,
li,
hr {
  color: white;
}

h6 {
  text-align: center;
}

.icons {
  font-size: 30px;
  padding: 5px;
}

.servicesText.card {
  background-color: transparent;
  height: 280px;
  cursor: pointer;
  border: 1px solid white;
  color: white;
}

.servicesIcon {
  font-size: 36px;
  text-align: center;
  width: 100%;
}

.servicesText:hover {
  border: 1px solid #008000;
}

#ui {
  margin: 0;
  position: absolute;
  top: 60px;
  left: 30px;
  color: white;
}
