:root {
  --light: white;
  --dark: black;
  --hover: #ffe600;
}

body {
  background-image: linear-gradient(rgb(5, 7, 27), var(--dark));
  width: 100%;
  min-height: 100vh;
}

.card-title {
  text-align: center;
}

.card:hover .servicesIcon,
.card:hover .card-title {
  color: var(--hover);
}

.card:hover .card-title {
  text-decoration: underline;
}

#siteFooter {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

#gameFooter {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  position: absolute;
  bottom: 0%;
  left: 0;
  margin: auto;
}

#menuScreen {
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  opacity: 1;
  color: var(--light);
  text-align: center;
}

#startScreenContainer,
#gameOverScreenContainer,
#pauseScreenContainer {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  border-radius: 10px;
  border: rgba(255, 255, 255, 0.4) 1px solid;
  padding: 20px;
}

.btn-primary {
  background-color: transparent;
  padding: 10px;
  display: block;
  color: var(--light);
  border: var(--light) 1px solid;
  border-radius: 5px;
  width: 50%;
  margin: auto;
  margin-top: 10px;
  text-decoration: none;
}

.btn-primary:hover {
  color: var(--hover);
  border: var(--hover) 1px solid;
}

.btn-primary:focus {
  border: var(--dark) 1px solid;
}

.form-control:focus {
  border: 2px solid var(--light);
}

#gameCanvas {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(rgb(5, 7, 27), var(--dark));
}

#homeTitle {
  font-size: 50px;
  color: var(--light);
}

#homeTitle,
#about,
#projects,
#contact,
#experience,
#services {
  padding-bottom: 100px;
}

h1,
h2,
h3,
h4,
h5,
h6,
footer,
label,
p,
li,
hr {
  color: var(--light);
}

h6 {
  text-align: center;
}

.icons {
  font-size: 30px;
  padding: 5px;
}

.keyDisplay {
  font-size: 15px;
  font-family: Arial, sans-serif;
  padding: 5px;
  margin: 5px;
  border: 1px solid var(--light);
  border-radius: 5px;
  box-shadow: 3px 3px var(--light);
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

.servicesText.card {
  background-color: transparent;
  height: 280px;
  cursor: pointer;
  border: 1px solid var(--light);
  color: var(--light);
}

.servicesIcon {
  font-size: 36px;
  text-align: center;
  width: 100%;
  color: var(--hover);
}

.servicesText:hover {
  border: 1px solid var(--hover);
}

#ui {
  margin: 0;
  position: absolute;
  top: 60px;
  left: 30px;
  color: var(--light);
}
