body {
  background-image: linear-gradient(rgb(5, 7, 27), black);
  width: 100%;
  height: 100%;
}

/* services section css */
.servicesText.card {
  background-color: transparent;
  height: 280px;
  cursor: pointer;
  border: 1px solid white;
  color: white;
}

.servicesIcon {
  font-size: 36px;
  text-align: center;
  width: 100%;
}

.card-title {
  text-align: center;
}

.card:hover .servicesIcon,
.card:hover .card-title {
  color: #008000;
}

.card:hover .card-title {
  text-decoration: underline;
}

.servicesText:hover {
  border: 1px solid #008000;
}

#homeTitle {
  font-size: 50px;
  color: white;
}

#homeTitle,
#about,
#projects,
#contact,
#experience,
#services {
  padding-bottom: 100px;
}

h1,
h2,
h3,
h4,
h5,
h6,
footer,
label,
p,
li,
hr {
  color: white;
}

h6 {
  text-align: center;
}

footer {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.form-control:focus {
  border: 2px solid white;
}

.icons {
  font-size: 30px;
  padding: 5px;
}
