<section id="experience">
    <div class="container">
        <h1 class="text-white">{% block title %} Experience {% endblock %}</h1>

        <div class="row text-white">
            <div class="col-md-12 col-lg-6 mb-3 mb-sm-0">
                <h4>Print Modular</h4>
                <p class="jobTitle">Owner/Product Designer</p>
                <p class="time">April 2024 - Present</p>
            </div>
            <div class="col-md-12 col-lg-6 mb-3 mb-sm-0">
                <ul>
                    <li>Python pprogramming</li>
                    <li>3D Modeing for 3D printing in Blender</li>
                    <li>Product design</li>
                    <li>Social media marketing and content creation</li>
                    <li>Shopify site creation and maintenance</li>
                    <li>3D printer maintenance and operation</li>
                </ul>
            </div>
            <hr />

            <div class="col-md-12 col-lg-6 mb-3 mb-sm-0 text-white">
                <h4>Code.Sydney</h4>
                <p class="jobTitle">Volunteeer Web Developer</p>
                <p class="time">May 2023 - Present</p>
            </div>
            <div class="col-md-12 col-lg-6 mb-3 mb-sm-0">
                <ul>
                    <li>React.js</li>
                    <li>Next.js</li>
                    <li>Liaising with not for profit and charity clients as well as team members</li>
                    <li>Website maintenance</li>
                    <li>Website development</li>
                    <li>Participating in team builds</li>
                </ul>
            </div>
            <hr />

            <div class="col-md-12 col-lg-6 mb-3 mb-sm-0 text-white">
                <h4>The Star Casino</h4>
                <p class="jobTitle">ServiceNow Trainee Developer</p>
                <p class="time">Oct 2022 - Present</p>
            </div>
            <div class="col-md-12 col-lg-6 mb-3 mb-sm-0">
                <ul>
                    <li>ServiceNow scripting</li>
                    <li>Liaising with stakeholders and team members</li>
                    <li>front-end form development</li>
                    <li>back-end form development</li>
                </ul>
            </div>
            <hr />

        </div>

</section>